<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto ms-5">
          <li class="nav-item">
            <a class="nav-link <%if(active == "home"){%> active <%}%>" aria-current="page" href="/">Atendimentos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%if(active == "servicos"){%> active <%}%>" href="/servicos">Serviços</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%if(active == "acessos"){%> active <%}%>" href="/acessos">Acessos</a>
          </li>
        </ul>
            <p class="navbar-nav me-5" style="color: white;">Bem vindo, <%=user.username%>!</p>
      </div>
</nav>